html{
    min-height: 100vh;
    margin: none;
    padding: 0;
    background-size: cover;
    background-color: rgb(11, 27, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Playfair Display SC', serif;
}   

.container{
    color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        font-family: 'Playfair Display SC', serif;
        align-items: center;
        font-size: 50px;
        padding: 10px;
    }
    .loginFormContainer{
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 5px;
        background-image: url("https://t4.ftcdn.net/jpg/00/93/36/49/240_F_93364974_eoos8QGsa9CzTa5hGRRL6EutXMSKgdOA.jpg");
        height: 200px;
        min-width: fit-content;
        .formikClass{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: gold;
            .formLabels{
                padding: 10px;
                font-family: 'Playfair Display SC', serif;
                .raberu{
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                    outline:none;
                    font-size: 20px;
                    border-radius: 3px;
                    font-family: 'Playfair Display SC', serif;
                }
            }

            .submitButton{
                button{
                    font-family: 'Playfair Display SC', serif;
                    cursor: pointer;
                    font-size: 25px;
                    border-radius: 3px;
                    margin-top: 10px;
                    font-weight: 800;
                    padding: 5px;
                    border: 1px solid black;
                    background: linear-gradient(233deg,#ffc100,#fff7e0,#cc9800,#ffcb35);
                    background-size: 240% 240%;
                    animation: gradient-animation 36s ease infinite;
                      
                      
                    @keyframes gradient-animation {
                        0% {
                          background-position: 0% 50%;
                        }
                        50% {
                          background-position: 100% 50%;
                        }
                        100% {
                          background-position: 0% 50%;
                        }
                      }
                }
            }
        }
    }
}